.custom-input {
    position: relative;
    label {
        color: #B5B5B5;
        position: absolute;
        left: 14px;
        top: 10px;
        font-size: 12px;
    }
    input {
        color: #6E6E6E;
        border-color: #E8E8E8;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

.form-control:focus {
    box-shadow: none;
}

//text box

/* custom-checkbox */

.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $primary;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
    }
    &:hover input~.checkmark {
        background-color: #ccc;
    }
    & input:checked~.checkmark {
        background-color: $primary;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    input:checked~.checkmark:after {
        display: block;
    }
    .checkmark:after {
        left: 7px;
        top: 3px;
        width: 6px;
        height: 11px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

//custom radio
.custom-radio-btn {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        cursor: pointer;
        height: 40px;
        width: 100%;
        background-color: #F3F7FA;
        border-radius: 6px;
        border: 1px solid #F3F7FA;
        color: #B5B5B5;
        text-align: center;
        padding: 7px;
    }
    &:hover input~.checkmark {
        background-color: #F3F7FA;
        color: #6E6E6E;
    }
    input:checked~.checkmark {
        border: 1px solid $primary;
        color: #6E6E6E;
    }
}


.custom-radio-btn-1 {
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        cursor: pointer;
        height: 40px;
        width: 100%;
        background-color: #F3F7FA;
        border-radius: 6px;
        border: 1px solid #F3F7FA;
        color: #B5B5B5;
        text-align: center;
        padding: 7px;
    }
    &:hover input~.checkmark {
        background-color: #F3F7FA;
        color: #6E6E6E;
    }
    input:checked~.checkmark {
        border: 1px solid $primary;
        color: #6E6E6E;
    }
}

.custom-checkbox-1 {
    
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $primary;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
    }
    &:hover input~.checkmark {
        background-color: #ccc;
    }
    & input:checked~.checkmark {
        background-color: $primary;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    input:checked~.checkmark:after {
        display: block;
    }
    .checkmark:after {
        left: 7px;
        top: 3px;
        width: 6px;
        height: 11px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.shipping-button:focus{
    color:#FFF !important;
}