.order-list-searcharea {
    padding: 7px 15px 0;
    background-color: $primary;
}

.ol-table {
    tr {
        td {
            vertical-align: middle;
        }
    }
    .order-list-img {
        max-width: 70px;
    }
}
