.setting-tabbing-area {
    position: relative;
    min-height: 150px;
    @include media-breakpoint-up(lg) {
        padding-left: 300px;
    }
    .nav-pills {
        background: #F4F4F4;
        margin-bottom: 15px;
        @include media-breakpoint-up(lg) {
            position: absolute;
            left: 0;
            flex-direction: column;
            width: 260px;
            margin-bottom: 0px;
        }
        li {
            @include media-breakpoint-down(md) {
                width: 100%;
                text-align: center;
            }
        }
    }
}

//inner-tabbing-list
.inner-tabbing-list {
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
    display: flex;
    border-bottom: 2px solid #c6c6c6;
    border-left: 2px solid #c6c6c6;
    border-right: 2px solid #c6c6c6;
    li {
        list-style: none;
        text-align: center;
        background: #F4F4F4;
        cursor: pointer;
        flex: 0 0 20%;
        max-width: 20%;
        padding: 25px 10px;
        border-top: 2px solid #c6c6c6;
        @include media-breakpoint-down(md) {
            font-size: 12px;
        }
        &.active {
            background: #ffffff;
            border-top: 2px solid $primary;
        }
        .amount {
            font-weight: 600;
        }
    }
}

.set-tabbing-table {
    th,
    td {
        vertical-align: middle;
    }
    .pro-img {
        max-width: 50px;
    }
    .edit-btn {
        img {
            max-width: 20px;
            width: 20px;
        }
    }
}

//.select-file-image-preview
.select-file-image-preview {
    background: #F7F8FC;
    border: 1px solid #ECF0F1;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    height: 100px;
    cursor: pointer;
    margin-bottom: 10px;
}
