<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h2>Privatumo politika</h2>
                <p class="font-weight-bold">Bendra informacija</p>
                <p>UAB Santechnikos prekybos centras (toliau – Duomenų valdytojas) šia privatumo politika (toliau – Privatumo politika) nustato asmens duomenų tvarkymo sąlygas naudojantis Duomenų valdytojo valdoma interneto svetaine. Privatumo politikos nustatytos sąlygos taikomos kiekvieną kartą jums norint pasiekti mūsų teikiamą turinį ir /ar paslaugą, nepaisant to, kokį įrenginį (kompiuterį, mobilųjį telefoną, planšetę, televizorių ar kt.) naudojate.</p>
                <ul>
                    <li>Duomenų valdytojo rekvizitai: UAB Santechnikos prekybos centras</li>
                    <li>Buveinės adresas: Laisvės pr. 82, LT-06125, Vilnius</li>
                    <li>Tel.: +370 5 234 55 69</li>
                    <li>El. paštas: info@santechnikos-centras.lt</li>
                    <li>PVM mokėtojo kodas: LT100010281410</li>
                </ul>
                <p>Labai svarbu, kad atidžiai perskaitytumėte Privatumo politiką, nes, kiekvieną kartą lankydami Duomenų valdytojui priklausančią interneto svetainę sutinkate su sąlygomis, aprašytomis šioje Privatumo politikoje. Jei nesutinkate su šiomis sąlygomis, prašome nesilankyti mūsų svetainėje, nesinaudoti mūsų turiniu ir/ar paslaugomis.</p>
                <p>Patvirtiname, kad Duomenų valdytojo svetainės lankytojų duomenys bus renkami laikantis galiojančių Europos Sąjungos bei Lietuvos Respublikos teisės aktų reikalavimų bei kontroliuojančių institucijų nurodymų. Taikomos visos protingos techninės ir administracinės priemonės tam, kad mūsų surinkti duomenys apie svetainės lankytojus būtų apsaugomi nuo praradimo, neleistino naudojimo ir pakeitimų.</p>
                <p>Asmenys, kurie yra jaunesni negu 16 metų, negali teikti jokių asmens duomenų per mūsų svetainę. Jei esate asmuo, kuris yra jaunesnis negu 16 metų, prieš pateikdami asmeninę informaciją, turite gauti savo tėvų arba kitų teisėtų globėjų sutikimą.</p>
                <p>Taisyklėse vartojamos sąvokos suprantamos taip, kaip jos yra apibrėžtos Bendrajame duomenų apsaugos reglamente Nr. 2016/679.</p>
                <p class="font-weight-bold">Kokią informaciją apie jus renkame?</p>
                <p>Tiesiogiai Jūsų pateikiama informacija (skirtinguose svetainės puslapiuose, susisiekimo formose, anketose</p>
                <ul>
                    <li>vardas,</li>
                    <li>?pavardė,</li>
                    <li>telefono numeris,</li>
                    <li>elektroninio pašto adresas,</li>
                    <li>gyvenamoji vieta (adresas),,</li>
                    <li>Miestas,</li>
                    <li>Lankytmosi svetainėje laikas, įrenginys ir naršyklės versija,</li>
                </ul>
                <p class="font-weight-bold">Svetainėje gali būti naudojami tokie slapukai:</p>
                <ul>
                    <li><b>būtinieji techniniai slapukai</b> – tai slapukai, kurie yra būtini Svetainės veikimui;</li>
                    <li><b>funkciniai slapukai</b> – tai slapukai, kurie, nors ir nėra būtini Svetainės veikimui, tačiau žymiai pagerina jos veikimą, kokybę ir vartotojų patirtį;</li>
                    <li><b>statistiniai slapukai</b> – tai slapukai, kurie naudojami Svetainės lankytojų navigacijos metodų statistinei analizei parengti; šių slapukų surinkti duomenys naudojami anonimiškai;</li>
                    <li><b>tiksliniai arba reklaminiai slapukai</b> – tai slapukai, kurie naudojami siekiant parodyti pasiūlymus ar kitą informacija, kuri galėtų Jus sudominti.</li>
                </ul>
                <p class="font-weight-bold">Statistiniai ir reklaminiai slapukai</p>
                <p>Lankytojas pats gali nustatyti naršyklei neleisti naudoti slapukų: (instrukcijos anglų kalba)</p>
                <p class="font-weight-bold">Chrome Firefox Internet Explorer Edge Safari Opera</p>
                <p>Jeigu jūs lankotės mūsų interneto svetainėje, mes taip pat renkame informaciją, kuri atskleidžia mūsų teikiamų paslaugų naudojimo ypatumus arba automatiškai generuojama vizitų statistika.</p>
                <p class="font-weight-bold">Informacija iš trečiųjų šalių šaltinių</p>
                <p>Mes galime gauti informacijos apie jus iš viešųjų ir komercinių šaltinių (kiek tai leidžia galiojantys teisės aktai) ir susieti ją su kita informacija, kurią gauname iš jūsų arba apie jus. Informacijos apie jus galime gauti ir iš trečiųjų šalių socialinių tinklų paslaugų, kai prie jų prisijungiate, pavyzdžiui, per paskyras “Facebook” tinkle.</p>
                <p class="font-weight-bold">Kita mūsų renkama informacija</p>
                <p>Mes taip pat galime rinkti ir kitą informaciją apie jus, jūsų įrenginį ar jūsų naudojimąsi mūsų svetainės turiniu su jūsų sutikimu.</p>
                <p>Jūs galite rinktis nepateikti mums tam tikros informacijos (pvz., informacijos, prašomos pateikti registruojantis mūsų internetinėje parduotuvėje), tačiau tokiu atveju gali būti neleidžiama naudotis mūsų siūloma internetinio pirkimo paslauga.</p>
                <p class="font-weight-bold">Kaip naudojame jūsų informaciją?</p>
                <p>Mes taip pat galime rinkti ir kitą informaciją apie jus, jūsų įrenginį ar jūsų naudojimąsi mūsų svetainės turiniu su jūsų sutikimu.</p>
                <p>Jūs galite rinktis nepateikti mums tam tikros informacijos (pvz., informacijos, prašomos pateikti registruojantis mūsų internetinėje parduotuvėje), tačiau tokiu atveju gali būti neleidžiama naudotis mūsų siūloma internetinio pirkimo paslauga.</p>
                <p class="font-weight-bold">Kaip naudojame jūsų informaciją?</p>
                <p>Galime naudoti surinktą informaciją toliau nurodytais tikslais:</p>
                <ul>
                    <li>Užregistruoti jus tam, kad galėtumėte naudotis mūsų teikiama internetinio pirkimo paslauga.</li>
                    <li>Pirkimo krepšelio apmokėjimui per pasirinktą išorinį bankinių paslaugų teikėją.</li>
                    <li>Tiesioginės rinkodaros tikslu*, pvz., siųsti naujienlaiškius, pateikti individualiai pritaikytus reklaminius skelbimus ir siųsti pranešimus apie akcijas, įvertinti ir analizuoti savo rinką, klientus, produktus ir paslaugas (įskaitant ir jūsų nuomonės apie produktus ir paslaugas rinkimą bei klientų apklausų organizavimą).</li>
                    <li>Sužinoti, kaip žmonės naudoja mūsų teikiamas internetines paslaugas, kad galėtume jas pagerinti ir kurti naują turinį, produktus bei paslaugas.</li>
                    <li>Kaupti informaciją apie lankytojų veiksmus svetainėje, analizuoti duomenis svetainės patogumo pagerinimo tikslais</li>
                    <li>Susisiekti su Jumis</li>
                    <li>Kam atskleidžiame jūsų informaciją?</li>
                </ul>
                <p>Įsipareigojame neperduoti jūsų asmeninių duomenų jokioms nesusijusioms trečiosioms šalims, išskyrus šiuos atvejus:</p>
                <ul>
                    <li>jei yra jūsų sutikimas asmens duomenų atskleidimui.</li>
                    <li>teikiant paslaugas – mūsų partneriams, teikiantiems prekių pristatymo ar kitas jūsų užsisakytas paslaugas. Šiems paslaugų tiekėjams mes suteiksime tik tiek jūsų asmeninės informacijos, kiek bus būtina konkrečiai paslaugai atlikti.</li>
                    <li>teisėsaugos institucijoms pagal Lietuvos Respublikos teisės aktų numatytą tvarką.</li>
                </ul>
                <p class="font-weight-bold">Ką darome, kad apsaugotume jūsų informaciją?</p>
                <p>Asmens duomenys yra saugomi nuo praradimo, neleistino naudojimo ir pakeitimų. Įdiegėme fizines ir technines priemones, kad apsaugotume visą informaciją, kurią renkame mūsų paslaugų teikimo tikslais. Primename, kad, nors ir imamės tinkamų veiksmų jūsų informacijai apsaugoti, nė viena svetainė, internetu atliekama operacija, kompiuterių sistema ar belaidis ryšys nėra visiškai saugūs.</p>
                <p>Jūsų duomenis saugosime 3 metus po paskutinio jūsų naudojimosi mūsų paslaugomis ar turiniu dienos. Pasibaigus šiam terminui, duomenys bus ištrinami taip, kad jų negalima būtų atgaminti.</p>
                <p class="font-weight-bold">Jūsų teisės</p>
                <p>Duomenų subjektas, kurio duomenys tvarkomi Duomenų valdytojo veikloje, turi šias teises:</p>
                <ul>
                    <li>Žinoti (būti informuotas) apie savo duomenų tvarkymą (teisė žinoti);</li>
                    <li>Susipažinti su savo duomenimis ir kaip jie yra tvarkomi (teisė susipažinti);</li>
                    <li>Reikalauti ištaisyti arba, atsižvelgiant į asmens duomenų tvarkymo tikslus, papildyti asmens neišsamius asmens duomenis (teisė ištaisyti);</li>
                    <li>Savo duomenis sunaikinti arba sustabdyti savo duomenų tvarkymo veiksmus (išskyrus saugojimą) (teisė sunaikinti ir teisė „būti pamirštam“);</li>
                    <li>Turi teisę reikalauti, kad asmens Duomenų valdytojas apribotų asmens duomenų tvarkymą esant vienai iš teisėtų priežasčių (teisė apriboti);</li>
                    <li>Turi teisę į duomenų perkėlimą (teisė perkelti);</li>
                    <li>Nesutikti, kad būtų tvarkomi asmens duomenys, kai šie duomenys tvarkomi ar ketinami tvarkyti tiesioginės rinkodaros tikslais, įskaitant profiliavimą, kiek jis susijęs su tokia tiesiogine rinkodara.</li>
                </ul>
                <p>Jei nebenorite, kad jūsų asmens duomenys būtų tvarkomi tiesioginės rinkodaros tikslu, įskaitant profiliavimą, galite rašyti elektroninį laišką adresu info@santechnikos-centras.lt ir nesutikti, kad jūsų asmens duomenys būtų tvarkomi tiesioginės rinkodaros tikslu ir/arba kad nebūtų taikomas tik automatizuotas, įskaitant profiliavimą**, jūsų asmens duomenų tvarkymas, nenurodydami nesutikimo motyvų.</p>
                <p>**Pagal jūsų pateiktus asmens duomenis, tiesioginės rinkodaros tikslu, gali būti vykdomas jūsų asmens duomenų profiliavimas, siekiant pasiūlyti jums individualiai pritaikytus sprendimus ir pasiūlymus. Jūs bet kada galite atšaukti savo sutikimą tvarkyti asmens duomenis automatizuotu, įskaitant profiliavimą, tvarkymo būdu arba tam prieštarauti.</p>
                <p>Bet kokį prašymą ar nurodymą, susijusį su asmens duomenų tvarkymu, Duomenų subjektas turi teisę pateikti Duomenų valdytojui raštu vienu iš šių būdų: įteikiant tiesiogiai adresu: Laisvės pr. 82, LT-06125, Vilnius .</p>
                <p>Duomenų valdytojas gavęs tokį prašymą ar nurodymą, ne vėliau kaip per vieną mėnesį nuo kreipimosi dienos, pateikia atsakymą bei atlieka prašyme nurodytus veiksmus ar atsisako juos atlikti. Prireikus nurodytas laikotarpis gali būti pratęstas dar dviem mėnesiams, atsižvelgiant į prašymų sudėtingumą ir skaičių. Tokiu atveju, per vieną mėnesį nuo prašymo gavimo dienos Duomenų valdytojas informuoja Duomenų subjektą apie tokį pratęsimą, kartu pateikdamas vėlavimo priežastis.</p>
                <p>Duomenų valdytojas gali nesudaryti duomenų subjektams sąlygų įgyvendinti aukščiau išvardintų teisių, išskyrus nesutikimą tvarkyti asmens duomenis tiesioginės rinkodaros būdu, kai įstatymų numatytais atvejais, reikia užtikrinti nusikaltimų, tarnybinės ar profesinės etikos pažeidimų prevenciją, tyrimą ir nustatymą, taip pat duomenų subjekto ar kitų asmenų teisių ir laisvių apsaugą.</p>
                <p class="font-weight-bold">Trečiųjų šalių svetainės, paslaugos ir produktai mūsų svetainėse</p>
                <p>Duomenų valdytojo interneto svetainėje gali būti trečiųjų šalių reklaminių skydelių, nuorodų į jų svetaines ir paslaugas, kurių Duomenų valdytojas nekontroliuoja. Duomenų valdytojas neatsako už informacijos, kurią surinko trečiosios šalys, saugą ir privatumą. Turite perskaityti privatumo nuostatas, taikomas trečiųjų šalių svetainėms ir paslaugoms, kuriomis naudojatės.</p>
                <p class="font-weight-bold">Slapukai</p>
                <p>Jums besilankant Duomenų valdytojo interneto svetainėje, norime pateikti tokį turinį ir funkcijas, kurios būtų pritaikytos būtent jūsų poreikiams. Tam reikalingi slapukai (angl. cookies). Tai nedideli informacijos elementai, kurie automatiškai sukuriami naršant svetainėje ir yra išsaugomi jūsų kompiuteryje ar kitame galiniame įrenginyje. Jie padeda Duomenų valdytojui atpažinti jus kaip ankstesnį tam tikros interneto svetainės lankytoją, išsaugoti jūsų lankymosi svetainėje istoriją ir pagal tai pritaikyti turinį. Taip pat slapukai padeda užtikrinti sklandų svetainių veikimą, leidžia stebėti lankymosi interneto svetainėse trukmę, dažnumą bei rinkti statistinę informaciją apie svetainių lankytojų skaičių.</p>
                <i>Mūsų svetainėje naudojamų slapukų aprašymai</i>
                <table width="100%" cellspacing="1" cellpadding="7" border="1">
                    <tbody>
                        <tr>
                            <td width="20%">
                                <p><strong>Slapuko pavadinimas</strong></p>
                            </td>
                            <td width="20%">
                                <p><strong>Slapuko tipas</strong></p>
                            </td>
                            <td width="20%">
                                <p><strong>Sukūrimo momentas</strong></p>
                            </td>
                            <td width="20%">
                                <p><strong>Galiojimo laikas</strong></p>
                            </td>
                            <td width="20%">
                                <p><strong>Naudojami duomenys</strong></p>
                            </td>
                        </tr>        
                        <tr>
                            <td width="20%">
                                <p> language </p>
                            </td>
                            <td width="20%">
                                <p> Funkciniai slapukai </p>
                            </td>
                            <td width="20%">
                                <p> apsilankius svetainėje </p>
                            </td>
                            <td width="20%">
                                <p> 1 mėn. </p>
                            </td>
                            <td width="20%">
                                <p> kalbos kodas </p>
                            </td>
                        </tr>        
                        <tr>
                            <td width="20%">
                                <p> default </p>
                            </td>
                            <td width="20%">
                                <p> Funkciniai slapukai </p>
                            </td>
                            <td width="20%">
                                <p> apsilankius svetainėje </p>
                            </td>
                            <td width="20%">
                                <p> tik sesijos metu </p>
                            </td>
                            <td width="20%">
                                <p> unikalus identifikatorius </p>
                            </td>
                        </tr>        
                        <tr>
                            <td width="20%">
                                <p> currency </p>
                            </td>
                            <td width="20%">
                                <p> Funkciniai slapukai </p>
                            </td>
                            <td width="20%">
                                <p> apsilankius svetainėje </p>
                            </td>
                            <td width="20%">
                                <p> 1 mėn. </p>
                            </td>
                            <td width="20%">
                                <p> valiutos kodas </p>
                            </td>
                        </tr>        
                        <tr>
                            <td width="20%">
                                <p> _hjIncludedInSample </p>
                            </td>
                            <td width="20%">
                                <p> Funkciniai slapukai </p>
                            </td>
                            <td width="20%">
                                <p> apsilankius svetainėje </p>
                            </td>
                            <td width="20%">
                                <p> tik sesijos metu </p>
                            </td>
                            <td width="20%">
                                <p> taip/ne </p>
                            </td>
                        </tr>        
                        <tr>
                            <td width="20%">
                                <p> _gid </p>
                            </td>
                            <td width="20%">
                                <p> Statistikos slapukai </p>
                            </td>
                            <td width="20%">
                                <p> apsilankius svetainėje </p>
                            </td>
                            <td width="20%">
                                <p> 24 val. </p>
                            </td>
                            <td width="20%">
                                <p> unikalus identifikatorius </p>
                            </td>
                        </tr>            
                        <tr>
                            <td width="20%">
                                <p> _ga </p>
                            </td>
                            <td width="20%">
                                <p> Statistikos slapukai </p>
                            </td>
                            <td width="20%">
                                <p> apsilankius svetainėje </p>
                            </td>
                            <td width="20%">
                                <p> 2 metai </p>
                            </td>
                            <td width="20%">
                                <p> unikalus identifikatorius </p>
                            </td>
                        </tr>        
                        <tr>
                            <td width="20%">
                                <p> __tawkuuid </p>
                            </td>
                            <td width="20%">
                                <p> Funkciniai slapukai </p>
                            </td>
                            <td width="20%">
                                <p> apsilankius svetainėje </p>
                            </td>
                            <td width="20%">
                                <p> 6 mėn. </p>
                            </td>
                            <td width="20%">
                                <p> unikalus identifikatorius </p>
                            </td>
                        </tr>        
                        <tr>
                            <td width="20%">
                                <p> __cfduid </p>
                            </td>
                            <td width="20%">
                                <p> Funkciniai slapukai </p>
                            </td>
                            <td width="20%">
                                <p> apsilankius svetainėje </p>
                            </td>
                            <td width="20%">
                                <p> 1 metai </p>
                            </td>
                            <td width="20%">
                                <p> unikalus identifikatorius </p>
                            </td>
                        </tr>            
                        <tr>
                            <td width="20%">
                                <p> TawkConnectionTime </p>
                            </td>
                            <td width="20%">
                                <p> Funkciniai slapukai </p>
                            </td>
                            <td width="20%">
                                <p> apsilankius svetainėje </p>
                            </td>
                            <td width="20%">
                                <p> tik sesijos metu </p>
                            </td>
                            <td width="20%">
                                <p> laikas sekundėmis </p>
                            </td>
                        </tr>        
                        <tr>
                            <td width="20%">
                                <p> PHPSESSID </p>
                            </td>
                            <td width="20%">
                                <p> Funkciniai slapukai </p>
                            </td>
                            <td width="20%">
                                <p> apsilankius svetainėje </p>
                            </td>
                            <td width="20%">
                                <p> tik sesijos metu </p>
                            </td>
                            <td width="20%">
                                <p> unikalus identifikatorius </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <p>cookieconsent_status</p>
                            </td>
                            <td width="20%">
                                <p>funkciniai slapukai </p>
                            </td>
                            <td width="20%">
                                <p>paspaudus sutinku </p>
                            </td>
                            <td width="20%">
                                <p>24 val. </p>
                            </td>
                            <td width="20%">
                                <p>pasirinkta reikšmė </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="font-weight-bold">Kaip valdyti ir ištrinti slapukus</p>
                <p>Kai naudojate naršyklę mūsų teikiamam turiniui pasiekti, galite konfigūruoti savo naršyklę taip, kad būtų priimti visi slapukai, atmesti visi slapukai arba būtų pranešama, kai slapukas atsiunčiamas. Kiekviena naršyklė skirtinga, todėl, jei nežinote, kaip pakeisti slapukų nuostatas, pasižiūrėkite jos žinyno meniu. Jūsų įrenginio operacinėje sistemoje gali būti papildomų slapukų valdiklių. Jei nenorite, kad informacija būtų renkama slapukų pagalba, pasinaudokite daugelyje naršyklių esama paprasta procedūra, kuri leidžia jums atsisakyti slapukų naudojimosi. Norėdami daugiau sužinoti, kaip valdyti slapukus, apsilankykite adresu: http://www.allaboutcookies.org/manage-cookies/.</p>
                <p>Tačiau atkreipiame dėmesį, kad kai kuriais atvejais slapukų ištrynimas gali sulėtinti naršymo internete spartą, apriboti tam tikrų interneto svetainės funkcijų veikimą arba blokuoti prieigą prie svetainės.</p>
                <p>Mūsų svetainėje gali būti nuorodų į kitų asmenų, įmonių ar organizacijų interneto tinklalapius. Atkreipiame dėmesį, kad Duomenų valdytojas nėra atsakingas už tokių interneto tinklalapių turinį ar jų naudojamus privatumo užtikrinimo principus. Tad jei paspaudę nuorodą iš Duomenų valdytojo interneto svetainės pateksite į kitus tinklalapius, turėtumėte atskirai pasidomėti jų Privatumo politika.</p>
                <p class="font-weight-bold">Susisiekite su mumis</p>
                <p>Jei dėl šioje Privatumo politikoje pateiktos informacijos jums iškiltų klausimų, maloniai prašome kreiptis bet kuriuo jums patogiu būdu:</p>
                <p>Paštu: Laisvės pr. 82, LT-06125, Vilnius</p>
                <p>Telefonu: +370 5 234 55 69</p>
                <p>El. paštu: info@santechnikos-centras.lt</p>
            </div>
        </div>
    </div>
</section>