<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h2>Partnerystės programa</h2>
                <p>Santechnikos centras partnerystės programa yra nemokama ir leidžia partneriams užsidirbti komisinius, patalpinant mūsų reklamos nuorodą ar nuorodas į savo svetaines. Šiose nuorodose reklamuotų Santechnikos centras arba mūsų prekes. Parduotos prekės per minėtas nuorodas iš Jūsų svetainės puslapių uždirbs Jums komisinius. Komisinių reitingas yra 5%.</p>
                <p>Norėdami sužinoti daugiau skaitykite mūsų partnerystės programos taisykles ir sąlygas.</p>
            </div>
        </div>
    </div>
</section>
