.non-auth-box {
    background: #DCDCDC;
    min-height: calc(100vh - 71px);
    display: flex;
    align-items: center;
    justify-content: center;
    .non-auth-box-inner {
        background: #FFFFFF;
        border-radius: 20px;
        padding: 50px;
        max-width: 600px;
        width: 100%;
        margin: 20px 0;
    }
}

.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background: white;
    opacity: 0.6;
    z-index: 100;
}  
.pos {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    z-index: 100;
}
.span-pos {
    position: absolute;
    top: 58%;
    left: 37%;
    margin-left: -25px;
    margin-top: -25px;
    z-index: 100;
    font-size: 30px;
}