<div class="non-auth-box" *ngIf="step==0">
    <div class="non-auth-box-inner">
        <h2 class="text-center">Pamiršote slaptažodį</h2>
        <form [formGroup]="forgotPasswordForm" (submit)="forgotPassword()">
            <div class="form-group text-center">
                <span *ngIf="errorMessage.length" class="validation-error text-center pad-left-md">{{errorMessage}}</span>
            </div>
            <div class="form-group custom-input">
                <label for="email">El.pašto adresas</label>
                <input autocomplete="off" type="email" id="email" class="form-control" name="email" formControlName="email" placeholder="Jūsų el pašto adresas" />
                <div class="invalid-feedback d-block"
                    *ngIf="forgotPasswordForm.get('email').hasError('required') && (forgotPasswordForm.get('email').touched || forgotPasswordSubmitted)">
                    Įveskite el. pašto adresą
                </div>
                <div class="invalid-feedback d-block"
                    *ngIf="forgotPasswordForm.get('email').hasError('pattern') && (forgotPasswordForm.get('email').touched || forgotPasswordSubmitted)">
                    Įveskite galiojantį el. Pašto adresą
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-submit btn-lg" >Siųsti</button>
        </form>
    </div>
</div>


<div class="non-auth-box" *ngIf="step==1">
    <div class="non-auth-box-inner">
        <h2 class="text-center">Patikrinkite savo el. Paštą</h2>
        <form [formGroup]="verifyOtpForm" (submit)="verifyOtp()">
            <div class="form-group text-center">
                <span *ngIf="errorMessage.length" class="validation-error text-center pad-left-md">{{errorMessage}}</span>
            </div>
            <div class="form-group custom-input">
                <label for="otp">Vienkartinis slaptažodis</label>
                <input autocomplete="off" type="text" id="otp" class="form-control" name="otp" formControlName="otp" placeholder="Vienkartinis slaptažodis" title="Vienkartinis slaptažodis" />
                <div class="invalid-feedback d-block" *ngIf="verifyOtpForm.get('otp').hasError('required') && (verifyOtpForm.get('otp').touched || verifyOtpSubmitted)">
                    Įveskite vienkartinis slaptažodis
                </div>
                <div class="invalid-feedback d-block" *ngIf="(verifyOtpForm.get('otp').hasError('minlength')  || verifyOtpForm.get('otp').hasError('maxlength')) && (verifyOtpForm.get('otp').touched || verifyOtpSubmitted)">
                    Įveskite 4 skaitmenų vienkartinis slaptažodis
                </div>
            </div>
            <div class="form-group custom-input text-center">
                <a href="javascript:void(0)" (click)="resendOtp()">Iš naujo išsiųskite vienkartinis slaptažodis</a>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-submit btn-lg" >Prisijungti</button>
        </form>
    </div>
</div>


<div class="non-auth-box" *ngIf="step==2">
    <div class="non-auth-box-inner">
        <h2 class="text-center">Atstatyti slaptažodį</h2>
        <form [formGroup]="resetPasswordForm" (submit)="resetPassword()">
            <div class="form-group text-center">
                <span *ngIf="errorMessage.length" class="validation-error text-center pad-left-md">{{errorMessage}}</span>
            </div>
            <div class="form-group custom-input">
                <label for="password">Naujas slaptažodis</label>
                <input autocomplete="off" type="password" id="password" class="form-control" name="password" formControlName="password" placeholder="Naujas slaptažodis" title="Naujas slaptažodis" />
                <div class="invalid-feedback d-block" *ngIf="resetPasswordForm.get('password').hasError('required') && (resetPasswordForm.get('password').touched || resetPassworsSubmitted)">
                    Būtinas naujas slaptažodis
                </div>
            </div>
            <div class="form-group custom-input">
                <label for="confirmPassword">Pakartokite naują slaptažodį</label>
                <input autocomplete="off" type="password" id="confirmPassword" class="form-control" name="confirmPassword" formControlName="confirmPassword" placeholder="Slaptažodis" />
                <div class="invalid-feedback d-block" *ngIf="resetPasswordForm.get('confirmPassword').hasError('required') && (resetPasswordForm.get('confirmPassword').touched || resetPassworsSubmitted)">
                    Įveskite pakartokite naują slaptažodį
                </div>
                <div class="invalid-feedback d-block" *ngIf="(resetPasswordForm.hasError('mustMatch') && !resetPasswordForm.get('confirmPassword').hasError('required')) && (resetPasswordForm.get('confirmPassword').touched || resetPassworsSubmitted)">
                    Patvirtinkite, kad pakartokite naują slaptažodį neatitinka slaptažodžio
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-submit btn-lg" >Prisijungti</button>
        </form>
    </div>
</div>