.wishlist-section{
    margin-right: 10px;
    margin-left: 10px;
}
.icon-section{
    z-index: 1000;
    margin-left: 10px;
    margin-right: 10px;
}
.secure-image-section{
    margin-right: 10px;
}
.product-name{
    min-height: 50px;
}
.product-box-single-product{
    width: 250px;
}