<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h2>Apie mus</h2>
                <p>Malonu, kad domitės mūsų kompanija, mūsų produktais bei paslaugomis. Mes esame SANTECHNIKOS CENTRAS užsiimame didmenine ir mažmenine prekyba, todėl pas mus gali įsigyti santechnikos prekes, tiek įmonės, tiek ir pavieniai žmonės ir šeimos ūkiai.</p>
                <p>Kodėl SANTECHNIKOS CENTRAS?</p>
                <ul>
                    <li>Pas mus rasite vieną didžiausių santechnikos, šildymo, vandentiekio, vėdinimo, priešgaisrinės įrangos bei tvirtinimo detalių santechnikai pasirinkimą Lietuvoje;</li>
                    <li>Suteiksime įtin patrauklias prekių ir paslaugų kainas bei atsiskaitymo sąlygas;</li>
                    <li>Atsokomybė ir nuoširdus rūpestis bei garantijos už parduotas prekes ir suteiktas paslaugas Jums;</li>
                    <li>Stengsimės profesionaliai Jus konsultuoti, Jums aktualiais santechnikos klausimais;</li>
                    <li>Pas mus rasite vieną didžiausių Lietuvoje santechnikos įrankių pasirinkimą nuomai;</li>
                    <li>Pristatysime prekes visoje Lietuvoje;</li>
                    <li>Pagal Jūsų poreikius surasime ir pasiūlysime galimus profesionalius santechnikos montuotojus, kurie dirba visoje Lietuvoje. Pritaikysime mūsų turimas nuolaidas Jūsų busimiems   santechnikos darbams. Montuotojai suteiks garantijas ir pogarantinį aptarnavimą atliktiems darbams.</li>
                </ul>
                <p>Maloniai kviečiame visus planuojančius įsigyti santechnikos prekes, taip pat įmones, kurios norėtų sudaryti ilgalaikes bendradarbiavimo sutartis su mumis, atvykti pas mus konsultacijai, arba susisiekite su mumis kitais mūsų kontaktais: Tel.: 868025842 arba atsiųskite užklausimus el. paštu: info@santechnikos-centras.ltRekomenduokite mus savo draugams ar pažystamiems. Iš anksto dėkojame Jums!</p>
                <p>Pagarbiai</p>
                <p>SANTECHNIKOS CENTRAS</p>
            </div>
        </div>
    </div>
</section>
