<section class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <h2 class="text-primary p-3">Kontaktai</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="contact-section">
          <div class="">
            <img src="assets/images/icons/address.svg" width="30px" />
          </div>
          <div class="contact-text">
            <div>Laisvės pr. 82, LT-06125, Vilnius</div>
          </div>
        </div>
        <div class="contact-section">
          <div class="">
            <img src="assets/images/icons/phone.svg" width="30px" />
          </div>
          <div class="contact-text">
            <div>Tel .: +370 5 234 55 69</div>
            <div>Mob. tel .: +370 680 258 42</div>
          </div>
        </div>
        <div class="contact-section">
          <div class="">
            <img src="assets/images/icons/time.svg" width="30px" />
          </div>
          <div class="contact-text">
            <div>IV: 8:00 - 19:00</div>
            <div>VI: 8:00 - 15:00</div>
            <div>VII: 8:00 - 15:00</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <iframe height="300" id="gmap_canvas" class="w-100" src="https://maps.google.com/maps?q=Laisv%C4%97s%20pr.%2082%2C%20LT-06125%2C%20Vilnius%20%2C%20Santechnikos&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6">
        <h2 class="text-primary p-3">Rekvizitai</h2>
        <div class="p-3 m-2 card min-height-230">
          <div class="">UAB Santechnikos prekybos centras</div>
          <div class="">Company code: 304288072</div>
          <div class=""> VAT code: LT100010281410</div>
          <div class="">AB SEB bankas</div>
          <div class=""> Bank code: 70440 </div>
          <div class="">A / s LT32 7044 0600 0810 1156</div>
          <div class="">E-mail: info@santechnikos-centras.lt </div>
          <div class="">skype: plumbing-center</div>
          <div class="">www.santechnikos-centras.lt</div>
        </div>
      </div>
      <div class="col-lg-6">
        <h2 class="text-primary p-3">Apie mus</h2>
        <div class="p-3 m-2 card min-height-230">
          <p>Malonu, kad domitės mūsų kompanija, mūsų produktais bei paslaugomis. Mes esame SANTECHNIKOS CENTRAS
            užsiimame didmenine ir mažmenine prekyba, todėl pas mus gali įsigyti santechnikos prekes, tiek įmonės, tiek
            ir pavieniai žmonės ir šeimos ūkiai.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <h2 class="text-primary p-3">Bendradarbiaukime</h2>
      </div>
    </div>
    <section class="sec-banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3 mb-md-0" [routerLink]="['/order-list']">
              <img class="" src="assets/images/banner/banner-4.webp" alt="" />
              <label class="text-danger comming-soon-text-left-side">Jau greitai</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3 mb-md-0" [routerLink]="['/order-list']">
              <img class="" src="assets/images/banner/banner-5.webp" alt="" />
              <label class="text-danger comming-soon-text-right-side">Jau greitai</label>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <h2 class="text-primary p-3 mb-0">Kodėl SANTECHNIKOS CENTRAS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="p-3">
          <p>Pas mus rasite vieną didžiausių santechnikos, šildymo, vandentiekio, vėdinimo, priešgaisrinės įrangos bei
            tvirtinimo detalių santechnikai pasirinkimą Lietuvoje;</p>
          <p>Suteiksime įtin patrauklias prekių ir paslaugų kainas bei atsiskaitymo sąlygas;</p>
          <p>Atsokomybė ir nuoširdus rūpestis bei garantijos už parduotas prekes ir suteiktas paslaugas Jums;</p>
          <p>Stengsimės profesionaliai Jus konsultuoti, Jums aktualiais santechnikos klausimais;</p>
          <p>Pas mus rasite vieną didžiausių Lietuvoje santechnikos įrankių pasirinkimą nuomai;</p>
          <p>Pristatysime prekes visoje Lietuvoje;</p>
          <p>Pagal Jūsų poreikius surasime ir pasiūlysime galimus profesionalius santechnikos montuotojus, kurie dirba
            visoje Lietuvoje. Pritaikysime mūsų turimas nuolaidas Jūsų busimiems santechnikos darbams. Montuotojai
            suteiks garantijas ir pogarantinį aptarnavimą atliktiems darbams.</p>
          <p>Maloniai kviečiame visus planuojančius įsigyti santechnikos prekes, taip pat įmones, kurios norėtų sudaryti
            ilgalaikes bendradarbiavimo sutartis su mumis, atvykti pas mus konsultacijai, arba susisiekite su mumis
            kitais mūsų kontaktais: Tel.: 868025842 arba atsiųskite užklausimus el. paštu:
            info@santechnikos-centras.ltrekomenduokite mus savo draugams ar pažystamiems. Iš anksto dėkojame Jums!</p>
          <p>Pagarbiai,<br/>
          SANTECHNIKOS CENTRAS</p>
        </div>
      </div>
    </div>
  </div>
</section>
