<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h2>Pristatymo informacija</h2>
                <p>Standartinis prekių pristatymas 1-3 darbo dienos, jeigu prekės kortelėje nėra nurodyta kitaip. Prekes pristatome visoje Lietuvoje. Taip pat prekes galima atsiimti Vilniaus prekybos centruose.</p>
                <table cellspacing="0" class="delivery-information-table">
                    <tbody>
                        <tr class="even" class="pl-0">
                            <td><span class="font-weight-bold">Užsakymo svoris</span></td>
                            <td>iki 20 kg</td>
                            <td>20-35 kg</td>
                            <td>35-55 kg</td>
                            <td>55-75 kg</td>
                            <td>75-300 kg</td>
                            <td>virš 300 kg</td>
                        </tr>
                        <tr>
                            <td>Pristatymo kaina</td>
                            <td>6,05 €</td>
                            <td>10,00 €</td>
                            <td>15,00 €</td>
                            <td>20,00 €</td>
                            <td>25,00 €</td>
                            <td>30,00 €</td>
                        </tr>
                      </tbody>
                </table>
                <p class="text-danger font-size-12">Pastaba: plieninių radiatorių KERMI pristatymo kaina derinama su klientu individualiai.</p>
                <p>Į Kuršių neriją prekes pristatome už papildomą 17,38 Eur mokestį.</p>
                <p>Į pristatymo 6,05 EUR kainą yra įskaičiuota pristatymas bei apmokėjimas kurjeriui tiek grynaisiais, tiek ir bankine atsiskaitymo kortele. Kortelėmis galima atsiskaityti tik didžiuosiuose miestuose: Vilnius, Kaunas, Šiauliai, Klaipėda, Panevėžys</p>
                <div>
                    <h6>Prekių atsiėmimas prekybos centruose</h6>
                    <p>Jei pasirinkote prekes atsiimti prekybos centruose jas <b>paruošime per 1–3 darbo dienas.</b> Apie tai Jums pranešime elektroniniu paštu arba telefonu. Jei užsakymas apmokėtas, lauksime Jūsų atvykstant per 7 dienas, jei neapmokėtas - per 5 dienas. Vėliau užsakymas bus atšauktas ir užsakytos prekės sugrįš atgal į lentyną.</p>
                    <p>Atsiimant prekes parduotuvėje galima <b>atsiskaityti grynaisiais pinigais ir banko kortele.</b> Grynaisiais pinigais galima mokėti tik už tuos užsakymus, kurių vertė didesnė kaip 30 Eur (mažesni užsakymai turi būti apmokėti iš anksto).</p>
                    <p class="font-weight-bold">Atsiimdami užsakymą su savimi turėkite:</p>
                    <ul>
                        <li>užsakymo numerį;</li>
                        <li>asmens tapatybės dokumentą. Jei Jūsų prekes atsiims kitas žmogus, teikdami užsakymą nurodykite jį kaip gavėją. O jei pirkėjas – juridinis asmuo, turėkite įgaliojimą.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
