<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h2>Prekių grąžinimo sąlygos</h2>
               <h5>Grąžinimas ir garantija</h5>
               <hr/>
                <p><a href="https://www.santechnikos-centras.lt/">www.santechnikos-centras.lt</a> pirkėjai (vartotojai) turi teisę nenurodę priežasties atsisakyti prekės pirkimo ir pardavimo sutarties, pranešę apie tai pardavėjui raštu per 14 dienų nuo prekės pristatymo arba atsiėmimo momento. Prekės grąžinimo išlaidas turi padengti pirkėjas. </p>
                <p>Prekės gali būti grąžinamos "Santechnikos centras" parduotuvėse, išskyrus firmines parduotuves.</p>             
                <p>Gavęs grąžintą prekę ir įvertinęs jos kokybę, Pardavėjas per 14 dienų nuo raštiško pranešimo apie pirkimo ir pardavimo sutarties atsisakymą gavimo, grąžina pirkėjui pinigus už prekę ir jos pristatymo išlaidas. Jei grąžinama tik dalis pirktų prekių, pristatymo išlaidos negrąžinamos.</p>
                <p>Prekė turi būti grąžinama originalioje pakuotėje (su instrukcija ir garantiniu talonu, jei jie buvo pristatyti su preke). Grąžinant būtina pateikti PVM sąskaitą faktūrą, kuri buvo gauta kartu su siunta, arba kitą prekės pirkimą iš pardavėjo patvirtinantį dokumentą, užsakymo numerį. </p>
                <p>Už grąžinamos prekės komplektaciją atsako pirkėjas. Jei prekė nesukomplektuota, pardavėjas nepriima grąžinamos prekės.</p>
                <p>Pirkėjo teisė atsisakyti elektroninėje parduotuvėje su pardavėju sudarytos prekių pirkimo ir pardavimo sutarties netaikoma:</p>
                <ul>
                    <li>sutartims dėl pagal specialius vartotojo nurodymus pagamintų prekių, kurios nėra pagamintos iš anksto, ir kurios gaminamos, atsižvelgiant į vartotojo asmeninį pasirinkimą ar nurodymą, taip pat dėl prekių, kurios yra aiškiai pritaikytos vartotojo asmeninėms reikmėms;</li>
                    <li>sutartims dėl greitai gendančių prekių ar prekių, kurių galiojimo laikas yra trumpas;</li>
                    <li>sutartims dėl supakuotų prekių, kurios buvo išpakuotos po pristatymo ir kurios yra netinkamos grąžinti dėl sveikatos apsaugos ar higienos priežasčių;</li>
                    <li>sutartims dėl prekių, kurios po pristatymo dėl savo pobūdžio neatskiriamai susimaišo su kitais daiktais;</li>
                    <li>sutartims dėl supakuotų vaizdo ar garso įrašų arba supakuotos programinės įrangos, kurie buvo išpakuoti po pristatymo;</li>
                    <li>sutartims dėl laikraščių, periodinių leidinių ar žurnalų pristatymo, išskyrus sutartis dėl šių leidinių prenumeratos.</li>
                </ul>
                <p>Jei pristatyta prekė neatitinka kokybės reikalavimų, pirkėjas gali kreiptis į artimiausios „Santechnikos centras“ parduotuves arba į prekės gamintojo įgaliotąjį servisą (garantinės priežiūros servisų kontaktus, kuriuos rasite prekių garantiniuose lapuose bei gamintojų oficiliuose internetiniuose puslapiuose.). Dėl garantinės priežiūros klausimų taip pat galima skambinti telefonu 868025842</p>
                <p>Pardavėjo teikiama kokybės garantija neapriboja ir nevaržo pirkėjo (vartotojo) teisių, kurias, įsigijus netinkamos kokybės prekę ar paslaugą, nustato teisės aktai.</p>
                <p>Į visus Jūsų klausimus mielai atsakysime elektroniniu paštu pagalba@santechnikos-centras.lt</p>
                <p>Prašymus ar skundus dėl mūsų interneto parduotuvėje įsigytos prekės ar paslaugos galite pateikti elektroninio vartotojų ginčų sprendimo platformoje – <a href="http://ec.europa.eu/odr/" target="_blank">http://ec.europa.eu/odr/.</a></p>
                <p>Gavę prekę ir įsitikinę, kad prekė yra nenaudota, per 14 dienų nuo raštiško pranešimo apie pirkimo ir pardavimo sutarties atsisakymą gavimo, grąžinsime pinigus į Jūsų nurodytą sąskaitą.</p>
                <p class="font-weight-bold">Brokuotos arba nepilnos komplektacijos prekės</p>
                <p>Pirkėjas, norintis pateikti skundą dėl brokuotos ar nepilnos komplektacijos prekės, tai padaryti gali „Santechnikos centras“ parduotuvės prekių grąžinimo skyriuje arba elektroniniu paštu pagalba@santechnikos-centras.lt</p>
                <p>Teikdamas skundą pirkėjas turi nurodyti tokią informaciją:</p>
                <ol>    
                    <li>Prekės užsakymo numerį;</li>
                    <li>Prekės nuotrauką, brokuotos vietos nuotrauką (jei tai mechaninis pažeidimas ir įmanoma nufotografuoti);</li>
                    <li>Prekės pakuotės nuotrauką;</li>
                    <li>Aprašyti prekės broko, gedimo požymius ar įvardyti trūkstamą dalį.</li>
                </ol>   
                <p>Teikdamas skundą pirkėjas turi nurodyti, kaip pageidauja, kad būtų išspręsta pretenzija:</p>
                <ol type="a">    
                    <li>Brokuotą prekę prašoma pakeista kokybiška preke; </li>
                    <li>Ne pilnos komplektacijos prekę prašoma papildyti trūkstamomis komplektuojančiomis dalimis;</li>
                    <li>Prašoma grąžinti sumokėtus pinigus.</li>
                </ol>    
                <p>Išnagrinėjus pretenziją, atsakymas pateikiamas per 14 dienų.</p>
                <p class="font-weight-bold">Pažeista siunta</p>
                <ul>
                    <li>Į namus pristatytos siuntos kokybę tikrinkite dalyvaujant kurjeriui. Jei pastebėjote, kad ji turi pažeidimų:</li>
                    <li>apie tai pasakykite prekes atvežusiam kurjeriui;</li>
                    <li>siuntos pristatymo dokumente pažymėkite, kad pakuotė turi pažeidimų ir kartu su kurjeriu užpildykite Pakuotės pažeidimų (patikrinimo) aktą;</li>
                    <li>patikrinkite pakuočių viduje esančias prekes ir, jei jos pažeistos, pažeidimus užfiksuokite nuotraukose. Nuotraukos bus reikalingos prekių grąžinimo procedūrai;</li>
                    <li>jei pakuotė nepažeista, dalyvaujant kurjeriui prekių tikrinti nereikia. Jei priimate siuntą ir pasirašote dokumentus, laikoma, kad siunta pristatyta tvarkingai.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
