<footer>
    <div class="footer-top">
        <div class="container">
            <div class="d-flex footer-logo-area">
                <img class="footer-logo" src="assets/images/footer-logo.svg">
                <div class="ml-auto social-icon">
                    <a class="" title="Instagram" href="#"><img alt="Instagram" src="assets/images/icons/footer-icon-1.svg" class=""></a>
                    <a class="" title="Facebook" href="#"><img alt="Facebook" src="assets/images/icons/footer-icon-2.svg" class=""></a>
                    <a class="" title="Youtube" href="#"><img alt="Youtube" src="assets/images/icons/footer-icon-3.svg" class=""></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <h4 class="footer-title">SUSISIEKITE SU MUMIS</h4>
                    <ul class="footer-list">
                        <li>Adresas: Laisves pr. 82, Vilnius</li>
                        <li>Telefonas: +370 5 234 55 69</li>
                        <li>El. paštas: info@santechnikos-centras.it</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="footer-title">INFORMACIJA</h4>
                    <ul class="footer-list">
                        <li><a href="javascript:void(0);" title="Privatumo politika" routerLink="/privatumo-politika-35">Privatumo politika</a></li>
                        <li><a href="javascript:void(0);" title="Apie mus" routerLink="/apie-mus-4">Apie mus</a></li>
                        <li><a href="javascript:void(0);" title="Pristatymo informacija" routerLink="/pristatymo-informacija-6">Pristatymo informacija</a></li>
                        <li><a href="javascript:void(0);" title="Atsiskaitymo būdai" routerLink="/atsiskaitymo-budai-3">Atsiskaitymo būdai</a></li>
                        <li><a href="javascript:void(0);" title="Prekių grąžinimo sąlygos" routerLink="/prekiu-grAzinimo-sAlygos-5">Prekių grąžinimo sąlygos</a></li>
                        <li><a href="javascript:void(0);" title="Karjera" routerLink="/karjera">Karjera</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="footer-title">MANO PASKYRA</h4>
                    <ul class="footer-list">
                        <li><a href="javascript:void(0);" title="Mano paskyra" routerLink="/settings">Mano paskyra</a></li>
                        <li><a href="javascript:void(0);" title="Užsakymų istorija" routerLink="/order-list">Užsakymų istorija</a></li>
                        <li><a href="javascript:void(0);" title="Pageidavimų sąrašas" routerLink="/wishlist">Pageidavimų sąrašas</a></li>
                        <li><a href="javascript:void(0);" title="Naujienų prenumerata" routerLink="/naujienlaiskiai">Naujienų prenumerata</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="footer-title">PRIEDAI</h4>
                    <ul class="footer-list">
                        <li><a href="javascript:void(0);" title="Prekių ženklai" routerLink="/gamintojai">Prekių ženklai</a></li>
                        <li><a href="javascript:void(0);" title="Partnerystės programa" routerLink="/affiliate-login">Partnerystės programa</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="text-center text-lg-left">2020 © Santechnikos prekybos centras, UAB. Visos teisės saugomos.</div>
                </div>
                <div class="col-lg-5">
                    <div class="text-center text-lg-right">Interneto svetainių kūrimas IT Akseleratorius</div>
                </div>
            </div>
        </div>
    </div>
</footer>
