<section class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h2>Atsiskaitymo būdai</h2>
                <p class="font-weight-bold">Grynieji pinigai</p>
                <p>Mokėkite tik gavę prekes!</p>
                <p>Atsiskaitykite grynaisiais pinigais užsakymo pristatymo ar atsiėmimo metu.</p>               
                <h2>Mokėkite grynaisiais pinigais atsiėmimo metu!</h2>
                <ul>
                    <li>Jūsų patogumui siūlome atsiskaityti už prekes kaip esate įpratę įprastoje parduotuvėje – grynaisiais pinigais.</li>
                    <li>Pasirinkę šį mokėjimo būdą, atsiskaitysite ne užsakymo metu, o kurjeriui pristačius prekes arba atsiimdami prekes prekių atsiėmimo centre.</li>
                </ul>
                <label class="alert alert-info mb-2" role="alert">
                    <b>Dėmesio!</b> Prekių pristatymo į namus metu turėkite tikslią grynųjų pinigų sumą, nurodytą Jūsų užsakyme.
                </label>
                <p class="mt-2">Atsiskaityti grynaisiais pinigais galima:</p>
               <ul> 
                    <li>Santechnikos centras prekybos salonuose.</li>
                    <li>Kurjeriui pristatant prekes į namus.</li>
                    <li>
                        <b>Elektroninė bankininkystė</b><br/>
                        Mokėkite greitai ir patogiai!
                    </li>
                </ul>
                <p>Atsiskaitykite per didžiausius Lietuvos bankus.</p>
                <p>Atsiskaityti internetinėje parduotuvėje Santechnikos-centras.lt galima naudojantis elektronine bankininkyste arba per Paysera mokėjimų sistemą. </p>
                <p>Šiuo metu internetinėje parduotuvėje Santechnikos-centras.lt už prekes galima  sumokėti naudojantis šiomis elektroninės bankininkystės sistemomis:</p>
                <ul>
                    <li>Swedbank interneto bankas (AB bankas „Swedbank“)</li>
                    <li>SEB interneto bankas (AB „SEB bankas“)</li>
                    <li>DNB bankas internete (AB „DnB bankas“)</li>
                    <li>Netbank Nordea („Nordea Bank Lietuva“)</li>
                    <li>Danske eBankas (Danske Bank A/S Lietuvos filialas)</li>
                    <li>Citadele internet bankas (AB „Citadele bankas“)</li>
                    <li>Šiaulių banko „SB linija“ (AB „Šiaulių bankas“)</li>
                    <li>Paysera (Paysera LT, UAB)</li>
                </ul>    
                <p class="font-weight-bold">Kaip apmokėti užsakymą naudojantis elektronine bankininkyste?</p>
                <ol>
                    <li>Užpildykite užsakymą ir užsakymo žingsnyje „Mokėjimo būdas“ pasirinkite savo banką.</li>
                    <li>Santechnikos-centras.lt nukreips Jus į banko puslapį ir perduos elektroninės bankininkystės sistemai duomenis apie sumą, kurią reikia apmokėti.</li>
                    <li>Elektroninės bankininkystės puslapyje prisijunkite įprastu būdu ir sistema jau bus Jums suformavusi mokėjimą už išsirinktas prekes. Beliks tik patvirtinti mokėjimą.</li>
                    <li>Patvirtinus mokėjimą, elektroninės bankininkystės puslapis užsidarys, o Jūs vėl sugrįšite į Santechnikos-centras.lt. Prisijungimo prie elektroninės bankininkystės duomenys naudojami tik prisijungimui prie banko puslapio, o grįžtant į internetinę parduotuvę Santechnikos-centras.lt neperduodami.</li>
                </ol>
                <p class="font-weight-bold">Kaip atsiskaityti per Paysera sąskaitą?</p>
                <ol>
                    <li>Pasirinkite atsiskaitymą per Paysera sąskaitą ir jums automatiškai bus suformuotas mokėjimas.</li>
                    <li>Mokėjimą patvirtinti ir atsiskaityti už prekes galėsite dviem būdais: prisijungus prie Paysera sąskaitos arba su Paysera programėle skenuojant QR kodą.</li>
                    <li>Atlikus mokėjimą puslapis užsidarys, o jūs vėl sugrįšite į santechnikos-centras.lt parduotuvę. Apie sėkmingai atliktą mokėjimą būsite informuoti el. paštu.
                            <b>Banko pavedimas</b>
                            <p>Mokėkite sau įprastu būdu!</p>
                    </li>
                </ol>
                <p>Apmokėkite bet kuriame Lietuvos banke.</p>
                <h2>Mokėkite bankiniu pavedimu!</h2>
                <ul>
                    <li>Pasirinkę šį atsiskaitymo būdą, įprastu būdu perveskite pinigus į mūsų sąskaitą.</li>
                    <li>Atkreipkite dėmesį, kad mokėjimo paskirties laukelyje reikia būtinai nurodyti Santechnikos-centras.lt užsakymo numerį.</li>
                </ul>
                <p class="font-weight-bold">Sąskaitos rekvizitai:</p>
                <label class="alert alert-info mb-2" role="alert">
                    Gavėjas: Santechnikos prekybos centras, <b>UAB</b><br>
                    A/S: <b>LT32 7044 0600 0810 1156</b><br>
                    Bankas: <b>AB „SEB bankas"</b><br>
                    Įmonės kodas: <b>304288072</b><br>
                    Mokėjimo paskirtis: <b>reikia nurodyti užsakymo numerį</b><br>
                    Įmokos kodas: <b>reikia nurodyti užsakymo numerį.</b><br>
                </label>
                <p class="font-weight-bold">Išsimokėtinai</p>
                <p>Mokėkite dalimis!</p>
                <p>Patogus, saugus ir greitas būdas įsigyti norimas prekes!</p>
                <h2>Atsiskaitykite išsimokėtinai!</h2>
                <ul>
                    <li>Patogus, saugus ir greitas būdas įsigyti norimas prekes!</li>
                    <li>Prekes galite įsigyti išsimokėtinai pasinaudodami:
                        <ul>
                            <li>SB lizingu</li>
                            <li>MOKILIZINGU</li>
                        </ul>
                    </li>    
                </ul>
                <h2>Kaip pirkti išsimokėtinai Santechnikos-centras?</h2>
                <p class="font-weight-bold">Naudojantis SB lizingu arba MOKILIZINGU:</p>
                <ol>
                    <li>Išsirinkite prekę.</li>
                    <li>Pasirinkę mokėjimo būdą „Išsimokėtinai“, pasirinkite Jums priimtiną lizingo bendrovę ir užpildykite elektroninę paraišką Santechnikos-centras.lt sistemoje vartojimo kreditui gauti.</li>
                    <li>Santechnikos-centras.lt darbuotojas per 1 (vieną) darbo dieną susisieks su Jumis telefonu ir praneš, ar su Jumis gali būti sudaryta vartojimo kredito sutartis, kokios yra siūlomos jos sąlygos bei informuos apie būtinybę el. paštu lizingas@santechnikos-centras.lt </li>
                    <li>Užsakytas prekes gali priimti tik lizingo paraišką pateikęs asmuo. Tik lizingo paraišką pateikęs asmuo gali pasirašyti ir kurjerio atvežtą vartojimo kredito sutartį.</li>
                    <li>Perkant prekes išsimokėtinai internetinėje parduotuvėje Santechnikos-centras.lt, nereikia mokėti pradinio įnašo, jeigu to nereikalauja lizingo bendrovė.</li>
                    <li>Kurjeris patikrins dokumentų kopijas pagal pateiktus originalius dokumentus, pateiks pasirašyti du vartojimo kredito sutarties egzempliorius ir perduos Jums prekes kartu su trečiuoju - Jūsų vartojimo kredito sutarties egzemplioriumi.</li>
                    <li>Įvykdžius visus įsipareigojimus pagal vartojimo kredito sutartį, prekė tampa Jūsų nuosavybe.</li>
                </ol>
                <h2>Tikslinės paskolos sąlygos:</h2>
                <ol>
                    <li>Pirkti prekes išsimokėtinai gali tik pilnamečiai asmenys, turintys galiojančią asmens tapatybės kortelę, Lietuvos arba Europos Sąjungos valstybės narės piliečio pasą.</li>
                    <li>Mažiausia užsakymo finansavimo suma – € 50, ji skaičiuojama nuo viso krepšelio dydžio.</li>
                    <li>Tikslinė paskola gali būti suteikiama laikotarpiui nuo 6 mėnesių iki 48 mėnesių.</li>
                    <li>Tikslinė paskola gali būti suteikiama laikotarpiui nuo 6 mėnesių iki 48 mėnesių.</li>
                    <li>Perkant prekes išsimokėtinai internetinėje parduotuvėje santechnikos-centras.lt, nereikia mokėti pradinio įnašo, jeigu to nereikalauja lizingo bendrovė.</li>
                    <li>Santechnikos-centras.lt tinklalapyje reklaminėje medžiagoje pateiktos mėnesio įmokos, kai tikslinė paskola suteikiama 24 mėn., yra orientacinio dydžio. Sudarant sutartį, lizingo sistema paskaičiuos asmeniškai Jums skirtą mėnesio įmoką.</li>
                    <li>* Pagal LR vartojimo kredito įstatymo pakeitimus, įsigaliojusius š. m. vasario 1 d., nuo 22.00 val. vakaro iki 7.00 val. ryto negali būti sudaromos vartojimo kredito sutartys.</li>
                </ol>
                <img src="http://www.santechnikos-centras.lt/image/catalog/Naujienlaiskiai/Tax%20Free.png" width="125" />
                <p>Tax Free услугa</p>
                <p>Воспользуйтесь услугой такс фри (Tax Free), Santechnikos centras ванная комната и кухонное оборудование на Laisvės pr. 82, Vilnius и верните даже 21% от стоимости покупки!</p>
                <p>Зарубежные туристы имеют право вернуть налог на добавочную стоимость товаров, приобретенных на территории Литвы. НДС имеют право вернуть и выехавшие за границу литовские туристы.Примечание: Лицо, проживающее на территории Европейского Союза (ЕС) не может воспользоваться услугой возврата НДС на территории ЕС.</p>
                <p>Как вернуть НДС?</p>
                <ol>
                    <li>Во время покупки необходимо иметь документ, удостоверяющий личность (паспорт или карточку удостоверения личности).</li>
                    <li>Стоимость приобретаемых товаров должна быть не менее 57,92 EUR.</li>
                    <li>Во время покупки сообщите нам по телефону +37068025842 или по электронной почте info@santechnikos-centras.lt, в случае заказа в веб-сайт www.santechnikos-centras.lt, оставьте комментарий, что Вам будет нужна услуга Tax Free.</li>
                    <li>Во время покупки мы заполним форму Tax Free FR0420 и доставим ее Вам со всеми сопроводительными документами (счета-фактуры и т.д.).</li>
                    <li>За товар в нашем салоне Вы оплатите полную сумму (включая НДС).</li>
                    <li>Форма Tax Free FR0420 должна быть отмечена печатью таможни во время выезда из Литвы.</li>
                    <li>Во время другой поездки в Литву предъявите нам отмеченную таможней форму Tax Free FR0420. Деньги вам вернем наличными при предъявлении формы или посредством перечисления на банковский счет в течение 10 дней в любой из банков Литвы.</li>
                </ol>
                <p>„Tax Free" paslauga suteikiama užsienio turistams, gyvenantiems ne Europos Sąjungos šalyse. Turistas turi teisę už iš Lietuvos išvežamus pirkinius susigrąžinti pridėtinės vertės mokestį (PVM). Užsienio keleiviais yra laikomi fiziniai asmenys, kurie nuolat gyvena ne Europos Sąjungos teritorijoje (toliau – ES teritorija), nesvarbu, kokios valstybės piliečiai jie yra, pvz., Lietuvos pilietis, nuolat gyvenantis Baltarusijoje, laikomas užsienio keleiviu, o Baltarusijos pilietis, nuolat gyvenantis Lietuvoje, nėra laikomas užsienio keleiviu. Keleivio statusas kiekvienu konkrečiu atveju nustatomas pagal keleivio pateikiamus asmens dokumentus – asmens pasą ar asmens identifikavimo (tapatybės) kortelę. Tam, kad būtų suteikta „Tax Free" paslauga</p>
                <p>Lietuvos Respublikos Vyriausybė nustačiusi minimalią 55 EUR pirkinio sumą.</p>
                <p>Grąžinamą sumą sudaro PVM, atskaičius administravimo mokestį.</p>
                <p>Užsienio turistas, pirkdamas prekių už ne mažesnę negu 55 EUR sumą, parduotuvėje SANTECHNIKOS CENTRAS gauna užpildytą PVM susigrąžinimo (angl. Tax Free) formą.</p>
                <p>Užsienio keleivis įsigytas prekes iš ES teritorijos turi išgabenti ne vėliau kaip per tris mėnesius nuo prekių įsigijimo mėnesio, pvz., jei prekės įsigytos 2015-01-01, jos turi būti išgabentos iki 2015-04-31, ir pan. Išgabenimo data nustatoma pagal muitinės spaudą PVM grąžinimo dokumentuose.</p>
                <p>Gavęs muitinės atžymą, pirkėjas gali kreiptis dėl išmokos. Pilną išmokų punktų sąrašą galite rasti „Global Blue“ tinklapyje <a target="_blank" href="http://www.globalblue.com/customer-services/tax-free-shopping/refund-points/">http://www.globalblue.com/customer-services/tax-free-shopping/refund-points/</a></p> 
                <p>Jeigu pirkėjas pageidauja gauti išmoką ne grynaisiais pinigais, gavęs muitinės žymą, PVM susigrąžinimo (angl. Tax Free) formoje turi įrašyti kortelės (ne banko sąskaitos) numerį ir formą išsiųsti į Bratislavą. Voką su adresu jis gali gauti kartu su tax free formą.</p>
            
            </div>
        </div>
    </div>
</section>
